<%= form_with(model: org) do |form| %>
  <% if org.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(org.errors.count, "error") %> prohibited this org from being saved:</h2>

      <ul>
        <% org.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :localization, style: "display: block" %>
    <%= form.number_field :localization %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
